.columnaizq{
    height: 100%;
}
.columnader{background-image: url("../assets/img/limpieza-de-inyectores-main.jpg");
    width: 100%;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }